<p id="notice"><%= notice %></p>

<h1>Registries</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Is open</th>
      <th>#Coords</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @registries.each do |registry| %>
      <tr>
        <td><%= registry.name %></td>
        <td><%= registry.location %></td>
        <td><%= registry.is_open %></td>
        <td><%= registry.coordinators.size %></td>
        <td><%=
          if registry.is_open
            link_to 'Enroll', new_enrollment_path(:registry => registry)
          else
            ''
          end %></td>
        <td><%= link_to 'Show', registry %></td>
        <td><%= link_to 'Edit', edit_registry_path(registry) %></td>
        <td><%= link_to 'Destroy', registry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Registry', new_registry_path %>
| <%= link_to 'Coordinators', :controller => :coordinators %>
| <%= link_to 'Participants', :controller => :participants %>
| <%= link_to 'Enrollments', :controller => :enrollments %>
