<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @registry.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @registry.location %>
</p>

<p>
  <strong>Is open:</strong>
  <%= @registry.is_open %>
</p>

<p>
  <strong>Coordinators:</strong>
  <ul>
    <% for coordinator in @coordinators %>
      <li><%=
        link_to coordinator.name, edit_coordinator_path(coordinator)
      %></li>
    <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_registry_path(@registry) %> |
<%= link_to 'Back', registries_path %>
