<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @registry.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @registry.location %>
</p>

<p>
  <strong>Is open:</strong>
  <%= @registry.is_open %>
</p>

<p>
  <strong>This registry's enrolled participants, by coordinator:</strong>
  <ul>
    <% for entry in @coordinators_participants %>
      <li><%=
        link_to entry[:coordinator].name,
                :controller => :coordinators,
                :action => :show,
                :id => entry[:coordinator].id
      %>
        <ul>
          <% for participant in entry[:participants] %>
            <li><%=
              link_to participant.name,
                :controller => :participants,
                :action => :show,
                :id => participant.id
            %></li>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_registry_path(@registry) %> |
<%= link_to 'Back', registries_path %>
