<h1>New Enrollment</h1>

<%= form_for(@enrollment) do |f| %>
  <p>
    <%= f.label(:date, 'Date') %>
    <%= f.date_field :date %> </p>
  <p>
    <%= f.label(:method, 'Method') %>
    <%= f.select(:method, ['phone', 'email'], :include_blank => true) %>
  </p>
  <p>
    <%= f.label(:remarks, 'Remarks') %>
    <%= f.text_field :remarks %>
  </p>
  <p>
    <%= f.label(:coordinator_id, 'Coordinator') %>
    <%= f.select(:coordinator_id,
                 @coordinators.map {|c| [c.name, c.id]},
                 { include_blank: true }) %>
  </p>
  <p>
    <%= f.label(:registry_id, 'Registry') %>
    <%= @registry.name %>
    <%= f.hidden_field :registry_id %>
  </p>
  <p>
    <%= f.label(:participant_id, 'Participant') %>
    <%= f.select(:participant_id,
                 @participants.map {|p| [p.name, p.id] },
                 { include_blank: true }) %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', enrollments_path %>
