<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @enrollment.date %>
</p>

<p>
  <strong>Method:</strong>
  <%= @enrollment.method %>
</p>

<p>
  <strong>Remarks:</strong>
  <%= @enrollment.remarks %>
</p>

<p>
  <strong>Coordinator:</strong>
  <%= link_to @enrollment.coordinator.name, @enrollment.coordinator %>
</p>

<p>
  <strong>Registry:</strong>
  <%= link_to @enrollment.registry.name, @enrollment.registry %>
</p>

<p>
  <strong>Participant:</strong>
  <%= link_to @enrollment.participant.name, @enrollment.participant %>
</p>

<%= link_to 'Edit', edit_enrollment_path(@enrollment) %> |
<%= link_to 'Back', enrollments_path %>
